html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.main-header {
  background-color: #f4f7f9;
}

.header-top {
  height: 42px;
  
  font-family: "Cuprum", "Arial", sans-serif;
  
  background-color: #293449;
}

.header-top-wrapper {
  display: flex;
}

.logo {
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.header-logo {
  width: 220px;
  height: 47px;
  padding-top: 13px;
}

.header-logo img {
  display: block;
  margin: 0 auto;
}

.header-search {
  position: relative;
}

.header-search input {
  display: block;
  width: 270px;
  height: 42px;
  padding-left: 49px;
  padding-right: 10px;

  color: #ffffff;
  font-size: 17px;

  background-color: transparent;
  border: none;
}

.header-search::placeholder {
  color: #ffffff;
}

.header-search svg {
  position: absolute;
  top: 12px;
  left: 17px;

  width: 17px;
  height: 17px;

  opacity: 0.3;
}

.header-search path {
  fill: #ffffff;
}

.header-search input:hover {
  color: #ffffff;
  
  background-color: #212a3a;
}

.header-search:hover svg {
  opacity: 1;
}

.header-search input:focus {
  color: #000000;
  
  background-color: #ffffff;
}

.header-search-input:focus + svg path {
  fill: #ee3643;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.header-top ul {
  list-style: none;
}

.header-top a {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.header-top-links {
  display: flex;
  margin: 0;
  padding: 0;
}

.header-bottom-wrapper {
  display: flex;
}

.header-top-links a {
  position: relative;
  
  display: block;
  width: 150px;
  height: 42px;
  padding-left: 44px;

  line-height: 42px;
}

.header-bookmark svg,
.header-cart svg {
  position: absolute;
  top: 12px;
  left: 12px;
  
  opacity: 0.3;
  fill: #ffffff;
}

.header-bookmark path,
.header-cart path {
  fill: #ffffff;
}

.header-bookmark:hover svg,
.header-cart:hover svg {
  opacity: 1;
}

.header-top-links a:hover,
.header-top-links a:focus
 {
  background-color: #212a3a;
}

.header-top-links a:active {
  background-color: #161d29;
  opacity: 0.6;
}

.header-top-links .order {
  margin: 0;
  padding: 0;

  text-align: center;
  
  background-color: #63a63e;
}

.header-top-links .order:hover,
.header-top-links .order:focus {
  background-color: #5fbb2d;
}

.header-top-links .order:active {
  color: rgba(255, 255, 255, 0.5);
  
  background-color: #518534;
}

.header-bottom { 
  padding-top: 45px;
  padding-bottom: 60px;
  
  font-family: "Cuprum", "Arial", sans-serif;
  
  background-color: #f4f7f9;
}

.header-slogan {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 53px;
  width: 200px;
  
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-contacts {
  width: 270px;
  margin-left: 70px;

  text-align: center;
}

.header-contacts .phone {
  position: relative;
  
  display: block;
  width: 270px;
  height: 45px;
  padding-left: 22px;
  padding-top: 11px;
  margin-bottom: 10px;
  
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.header-contacts .phone::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 15px;
  
  width: 19px;
  height: 19px;

  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-contacts p {
  margin: 0;
  padding: 0;
  
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header-login {
  display: flex;
  flex-wrap: wrap;
  height: 45px;
}

.header-login .button,
.header-user .button {
  position: relative;
  
  display: block;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 13px;
  margin-left: 10px;
    
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  
  background-color: #ffffff;
}

.header-login .button-login {
  padding-left: 48px;
}

.button-login svg {
  position: absolute;
  left: 14px;
  top: 14px;
}

.button-login path,
.button-login polygon {
  fill: #c5c5c5;
}

.button-login:hover path,
.button-login:hover polygon {
  fill: #32425C;
}

.button-login:active path,
.button-login:active polygon {
  fill: #c5c5c5;
}

.header-user .button:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-user-links a {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.header-user-links a:hover,
.header-user-links a:focus {
  color: #ee3643;
}

.header-user-links a:active,
.header-user-links a:active {
  color: rgba(50, 66, 92, 0.3);
}

.header-login {
  margin-left: auto;
}

.header-user {
  width: 300px;
  margin-left: auto;
}

.header-login .button:hover,
.header-login .button:focus {
  color: #ee3643;
}

.header-login .button:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav {
  margin-top: 44px;
}

.main-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-nav-item {
  flex-grow: 1;
}

.main-nav-item a {
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;
  
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;

  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.main-nav-item a:hover,
.main-nav-item a:focus {
  background-color: #293449;
}

.main-nav-item a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

.index-about-contacts-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 85px;
  padding-top: 80px;
}

.index-about, 
.index-contacts {
  display: flex;
  flex-direction: column;
}

.index-about {
  width: 520px;
}

.index-contacts {
  width: 300px;
}

.index-contacts h2,
.index-about h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
  
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.index-contacts p,
.index-about p {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}

.index-about .button {
  width: 220px;
  height: 38px;
  padding-top: 12px;
  margin-top: auto;
  text-align: center;
}

.index-contacts .button {
  width: 100%;
  height: 38px;
  padding-top: 12px;
  margin-top: auto;
  text-align: center;
}

.index-partners-list {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  
  list-style: none;
  font-family: "Cuprum", "Arial", sans-serif;  
}

.index-partners-list li {
  position: relative;
  
  padding-left: 36px;
  margin-bottom: 24px;
  
  font-size: 18px;
  line-height: 20px;
}

.index-partners-list li::before {
  content: "";

  position: absolute;
  left: 0;
  top: 8px;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.button {
  display: block;
}

.button-red {
  height: 38px;
  padding-top: 13px;
  border-radius: 3px;
  
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #ee3643;
  
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.button-red:hover,
.button-red:focus {
  background-color: #ca2c37;
}

.button-red:active { 
  background-color: #ba2732;
}

.index-cat {
  padding-bottom: 65px;
}

.breadcrumbs-list {
  display: flex;
  
  list-style: none;
}

.breadcrumbs-item {
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-main-wrapper {
  display: flex;
  justify-content: space-between;
}

.page-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.filters {
  width: 220px;
}

.product-list-wrapper {
  width: 700px;
}

.filters h2 {
  line-height: 18px;
  background-color: #f7f3ec;
}

.filter fieldset {
  border: none;
}

.filter input[type="text"],
.filter input[type="number"] {
  background-color: #f7f3ec;
  border: none;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filter {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-list {
  list-style: none;
}

.filter .button-submit {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;

  background-color: transparent;
  border: 1px solid #e5e5e5;
}

.catalog-sort {
  font-size: 13px;
  line-height: 18px;
  
  background-color: #f7f3ec;
}


.sort-item {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
}

.sort-item-text {
  border-bottom: 1px dotted #ee3643;
}

.sort-item-text:hover,
.sort-item-text:focus {
  border-bottom: 1px solid #ee3643;
}

.sort-item.active {
  color: #ee3643;
  text-decoration: none;
  border-bottom: none;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  
  list-style: none;
}

.product-item {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 318px;
  border: 1px solid #e5e5e5;
  padding-bottom: 21px;
  margin-bottom: 20px;
}

.product-item .product-overlay {
  display: none;
}

.product-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.product-item h3 {
  margin: 0 auto;
  width: 160px;
  order: 1;
  
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.button-buy {
  color: #ffffff;
  
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.button-bookmarks {
  color: #32425c;
  
  border: 3px solid #63a63e;
}

.button-buy:hover,
.button-buy:focus {
  background-color: #5fbb2d;
}

.button-bookmarks:hover,
.button-bookmarks:focus {
  border-color: #32425c;
}

.button-buy:active {
  background-color: #518534;
}

.button-bookmarks:active {
  opacity: 0.3;
}

.product-item .old-price {
  margin: 0;
  padding: 0;
  order: 2;
  margin-top: 12px;
  
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  color: #999999;
  text-decoration: line-through;
}

.product-img-wrapper {
  order: 0;
}

.product-item .price {
  order: 3;
  width: 141px;
  height: 38px;
  padding-top: 10px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  
  background-image: url("../img/price.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item a {
  color: #000000;
  line-height: 18px;
  
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  text-transform: uppercase;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active {
  border: 1px solid #ee3643;
}

.pagination-item.current a {
  color: #ffffff;
  background-color: #ee3643;
  border: none;
}

.feature-item {
  width: 300px;
  height: 123px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
}

.feature-item p:first-of-type {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.feature-item p:last-of-type {
  width: 135px;
  padding-top: 14px;
  padding-bottom: 14px;

  background-color: #000000;
  opacity: 0.1;

  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
}

.slider-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}

.slider-text {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.index-title-block {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 24px;
  
  background-color: #f9f5f0;
}

.index-title-block h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.index-title-block .button {
  display: block;
  width: 253px;
  height: 38px;
  margin-left: auto;
  padding-top: 12px;

  text-align: center;
}

.manufacturer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  
  list-style: none;
  font-size: 0;
}

.manufacturer-item a {
  display: flex;

  border: 1px solid #eaeaea;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
}

.manufacturer-item img {
  margin: auto;
}

.index-services {
  background-color: #f4f7f9;
}

.index-services h2 { 
  margin: 0;
  padding: 0;
  
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.index-services-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.index-services-item h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.index-services-item:nth-child(n+2) {
  display: none;
}

.index-services-item p {
  margin: 0;
  padding: 0;
}

.catalog-text {
  padding-top: 67px;
  padding-bottom: 70px;

  background-color: #f4f7f9;
}

.catalog-text h2 {
  margin: 0;
  padding: 0;
  
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

/* footer & modal */

.footer {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;

  background-color: #32425c;
}

.footer-top {
  padding-bottom: 20px;
}

.footer-top-first-row,
.footer-top-second-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer-logo {
  width: 220px;
  height: 68px;
  padding-top: 20px;
}

.footer-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-top-first-row ul {
  align-self: flex-end;
  margin-bottom: 12px;
}

.footer-bottom {
  padding-top: 39px;
  padding-bottom: 30px;
  
  font-size: 16px;
  line-height: 18px;
  
  background-color: #293449;
}

.footer-copyright {
  width: 230px;
  margin: 0;
  padding: 0;
  margin-right: 160px;
}

.footer-bottom .container {
  display: flex;
}

.footer-contacts {
  width: 325px;
  margin-right: 65px;
}

.footer-contacts p {
  margin: 0;
  padding: 0;
}

.footer-contacts .phone {
  color: #f3f7f9;
}

.footer-nav {
  flex-grow: 1;
  padding-top: 40px;
}

.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.footer-nav-item {
  margin-left: 60px;
}

.footer-nav-item:first-child {
  margin-left: 0px;
}

.footer-nav-item a {
  color: #f3f7f9;
}

.second-row-nav a {
  color: #ffda96;
}

.footer-nav-item a:hover,
.footer-nav-item a:focus {
  text-decoration: underline;
}

.footer-nav-item a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.second-row-nav a:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-social {
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 119px;

  list-style: none;
}

.footer-feedback,
.footer-developer {
  margin: 0;
  padding: 0;
}

.footer-developer {
  margin-left: auto;
}

.footer-feedback a,
.footer-developer a {
  color: #ffd180;
}

.footer-feedback a:hover,
.footer-developer a:hover, 
.footer-feedback a:focus,
.footer-developer a:focus {
  text-decoration: underline;
} 

.footer-feedback a:active,
.footer-developer a:active {
  text-decoration: none;
  color: #ee3643;
} 

.footer-social-item a {
  display: flex;
  width: 42px;
  height: 42px;
  margin-right: 3px;
  border-radius: 50%;
  background-color: #212a3a;
}

.footer-social-item img {
  margin: auto;
}

.footer-social-item a:hover,
.footer-social-item a:focus,
.footer-social-item a:active {
  background-color: #ee3643;
}

.modal {
  display: none;
}